<h1>Edit a Note</h1>
<hr>

<div *ngIf="event">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="editEventForm">
    <div hidden>
      <mat-form-field>
        <input matInput placeholder="Event Id" formControlName="EventId" required [value]="event.EventId" type="EventId">
      </mat-form-field>
    </div>
    <div hidden>
      <mat-form-field>
        <input matInput placeholder="Title" formControlName="Title" required [value]="event.Title" type="Title">
      </mat-form-field>
    </div>
    <div hidden>
      <mat-form-field>
        <input matInput placeholder="Overview" formControlName="Overview" required [value]="event.Overview" type="Overview">
      </mat-form-field>
    </div>
    <div hidden>
      <mat-form-field>
        <input matInput placeholder="Location" formControlName="Location" required [value]="event.Location" type="Location">
      </mat-form-field>
    </div>
    <div hidden>
      <mat-form-field>
        <input matInput placeholder="Date and Time" formControlName="DateTime" required [value]="event.DateTime" type="DateTime">
      </mat-form-field>
    </div>
  </form>
</div>

<a routerLink="/events">Back to Events</a>