<div class="title">
  <br>
  <h1 id="cTitle">CompanyEvent!</h1>
  <p class="cContent">Get started today and start planning events in your company!</p>
  <br>
</div>
<br>

<mat-card>
  <div class="getStarted">
    <h2>Getting started</h2>
    <p>
      To get started all you have to do is create an account, free! Click on the "Events" button, "Create Event", add your details
      and you're done! It's that easy!
    </p>
  </div>
</mat-card>
<br>
<mat-card>
  <div class="info">
    <h2>Info</h2>
    <p>Welcome to CompanyEvent! CompanyEvent is a web app for companies to post what is happening around the office. Whether
      than means a mandatory business meeting or an optional pitch in, companies can keep their employees up to date with
      what is going on. In CompanyEvent you can create new events with a Title, an Overview of the event, the Location, and
      lastly the Date and Time. If you make a mistake when making an event or the event gets canceled that isn't a problem
      in CompanyEvent. Events can easily be edited and deleted thanks to CompanyEvent's CRUD factor! So get started and keep
      your employees up to date!</p>
  </div>
</mat-card>